#root {
  max-width: 1200px;
  margin: 0 auto;

  > header {
    position: sticky;
    top: 0;

    box-shadow: 0 5px 5px black;
  }

  > footer {
    box-shadow: 0 -5px 5px black;

    color: white;
    font-size: 250%;
    font-weight: bold;
    position: sticky;
    bottom: 0;
    background-color: black;
    text-align: center;
    padding: 0.5rem 0.5rem 1.5rem;
  }
}
